@import "normalize.styl"

@font-face
	font-family KlinicM
	font-style medium
	src url("/media/fonts/KlinicM.otf")

@font-face
	font-family KlinicL
	font-style medium
	src url("/media/fonts/KlinicL.otf")

@font-face
	font-family Roboto
	font-style medium
	src url("/media/fonts/Roboto/Roboto.ttf")

morado = #32006E
verde_azulado = #33D9C2

body,
html
	height 100%

li,
ul
	padding 0
	list-style none

p
	margin 0
	padding 0

body
	font-family KlinicM
	background #E6E6E6
	font-size 16px

.header_front
	background white
	box-shadow 0px 0px 5px rgba(0,0,0,.4)
	margin 0 1.5em 1.5em 1.5em
	max-width 1600px
	& figure
		padding 2em 0
		margin 0 auto
		max-width 700px
		& img
			width 100%

#container
	background white
	box-shadow 0px 0px 5px rgba(0,0,0,.4)
	overflow hidden
	margin 1.5em
	max-width 1600px
	& .box-cont
		float left
		margin .6em .3em
		max-width 75%
		& .search_v
			border-bottom 3px solid #150037
			font-size 1.3em
			background morado
			color white
			padding .3em .5em
		& #blog-post
			-moz-column-count: 3;
			-moz-column-gap: 10px;
			-moz-column-fill: auto;
			-webkit-column-count: 2;
			-webkit-column-gap: 10px;
			-webkit-column-fill: auto;
			column-count: 2;
			column-gap: 5px;
			column-fill: auto;
			width 100%
			& .error_search
				max-width 550px
				& h1
					color morado
					font-size 1.2em
					padding 2em 0
					height 200px
			& .src-post
				display block
			& .post
				border-top .4em solid verde_azulado
				-moz-column-break-inside: avoid;
				-webkit-column-break-inside: avoid;
				column-break-inside: avoid;
				display: inline-block;
				margin: 0 2px 15px;
				padding: 15px;
				border: 2px solid #FAFAFA;
				box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
				background: #FEFEFE;
				background-image: linear-gradient(45deg, #FFF, #F9F9F9);
				position relative
				max-width 550px
				&:hover
					box-shadow: 0 0px 12px rgba(50, 0, 110, 0.6);
				& figure
					border-top .4em solid verde_azulado
					width 100%
					& img
						width 100%
					& .share
						background morado
						padding .8em 0
						& a
							color white
							font-size 1.2em
							text-decoration none
						& .rds
							& span
								border-radius 50%
								border 1px solid white
								font-size .8em
								display inline-block
								margin 0 .3em
								text-align center
								line-height 25px
								height 25px
								width 25px
						& .like-views
							float right
							& .icns
								margin 0 .3em
								& span
									border-radius 50%
									float left
									margin 0 .3em
									text-align center
									line-height 25px
									height 25px
									width 25px
								& p
									float left
									font-size .7em
									line-height 30px
				& .date-comts
					background verde_azulado
					border-bottom 3px solid #059670
					color white
					text-shadow 0px 0px 2px rgba(0,0,0,.7)
					position absolute
					top 1em
					left 2em
					padding .5em
					& .cont
						float left
						& span
							float left
							margin 0 .3em
						& p
							float left
							margin 0 .3em
				& .content
					& h1
						color morado
						font-size 1.3em
					& p
						color morado
						font-family KlinicL
	& .box-right
		background #E6E6E6
		float left
		margin .6em .3em
		width 300px
		& .profile
			margin 0 auto
			padding 1em 0
			width 270px
			& .pub
				display block
				color morado
				text-align center
				font-size 1.4em
			& .avtr
				text-align center
				width 100%
				& img
					border-radius 50%
					border 4px solid morado
					height 150px
					margin-top .2em
					width 150px
			& .read
				display block
				font-size 1.2em
				color morado
				text-align center
			& .share
				background morado
				text-align center
				padding .3em 0
				width 100%
				& a
					color white
					font-size 1.3em
					margin 0 1em
					text-decoration none
		& .search
			padding 1em
			text-align center
			-moz-box-sizing border-box
			box-sizing border-box
			width 100%
			& .form_sch
				margin .3em auto
				overflow hidden
				width 280px
				& input[type="text"]
					border none
					background morado
					color white
					height 30px
					-moz-box-sizing border-box
					box-sizing border-box
					padding 0 1em
					float left
					width 240px
				& span
					-moz-box-sizing border-box
					box-sizing border-box
					background verde_azulado
					cursor pointer
					color morado
					height 30px
					padding 5px
					float left
					width 30px
		& .tags
			width 100%
			& .head
				padding 0 1em
				text-align center
				-moz-box-sizing border-box
				box-sizing border-box
				overflow hidden
				& p
					border none
					background morado
					color white
					height 30px
					-moz-box-sizing border-box
					box-sizing border-box
					float left
					line-height 30px
					text-align left
					padding 0 1em
					width 238px
				& span
					-moz-box-sizing border-box
					box-sizing border-box
					background verde_azulado
					color morado
					cursor pointer
					height 30px
					padding 5px
					float left
					width 30px
			& .cont
				padding 0 1em
				text-align center
				-moz-box-sizing border-box
				box-sizing border-box
				overflow hidden
				margin .7em 0
				width 100%
				& a
					background verde_azulado
					color morado
					display inline-block
					padding .4em 0
					margin .5em .22em
					text-decoration none
					width 120px
		& .recommendations
			margin-bottom 1em
			width 100%
			& .head
				padding 0 1em
				text-align center
				-moz-box-sizing border-box
				box-sizing border-box
				overflow hidden
				& p
					color morado
					background verde_azulado
					height 30px
					-moz-box-sizing border-box
					box-sizing border-box
					float left
					line-height 30px
					text-align left
					padding 0 1em
					width 238px
				& span
					-moz-box-sizing border-box
					box-sizing border-box
					background morado
					color verde_azulado
					cursor pointer
					height 30px
					padding 5px
					float left
					width 30px
			& .cont
				border-top 2px dashed verde_azulado
				background morado
				padding 1em 1em
				text-align left
				-moz-box-sizing border-box
				box-sizing border-box
				overflow hidden
				margin 0 auto
				width 268px
				& a
					color white
					display inline-block
					margin .2em 0
					text-decoration none
					width 120px
		& .banners
			padding .1em 0
			text-align center
			width 100%
			img
				width 270px
	& #go-read
		width 100%
		& .post
			margin .6em auto
			max-width 85%
			& figure
				border-top 6px solid verde_azulado
				position relative
				width 100%
				& .date-comts
					background verde_azulado
					border-bottom 3px solid #059670
					color white
					text-shadow 0px 0px 2px rgba(0,0,0,.7)
					position absolute
					top 0
					left 2em
					padding .5em
					& .cont
						float left
						& span
							float left
							margin 0 .3em
						& p
							float left
							margin 0 .3em
				& img
					width 100%
				& .share
					text-align center
					width 100%
					& a
						border 2px solid verde_azulado
						color verde_azulado
						font-size 1.4em
						padding .5em 0
						display inline-block
						text-align center
						text-decoration none
						transition all .5s ease-out
						margin .5em .1em
						width 45%
						&:hover
							border 2px solid morado
							color white
							background morado
			& .content
				h1
					border-bottom 3px solid verde_azulado
					color morado
					font-size 1.8em
					padding .4em 0
				& .prevpost
					font-size 18px
					color #808080
					font-style italic
					margin .5em auto
					width 80%
					& p
						line-height 1.5em
				& .postfull
					font-size 18px
					color #808080
					margin .5em auto
					width 90%
					& p
						line-height 1.5em
						margin .8em 0
						& strong
							color #5a5a5a
					& img
						height auto
						width 100%
					& iframe
						width 100%
					& a
						color morado


footer
	background morado
	border-bottom 2px solid black
	color white
	padding 1em 0
	width 100%
	& .cont
		max-width 1100px
		margin 0 auto
		overflow hidden
		& .box-foo
			border-top .3em solid verde_azulado
			width 300px
			float left
			padding 1em 0
			text-align center
			margin 1em
			& figure
				margin 0 auto
				width 50%
				& img
					width 100%
			& p
				padding .6em 0
				text-align left
				line-height 1.7em
			& h1
				color verde_azulado
				font-size 1.4em
			& a
				img
					margin 1em






//Inician los estilos para el Administrador del Blog


#msj
	font-family Roboto
	background rgba(255, 255, 255, .88)
	bottom 1em
	border-radius .4em
	left 1em
	box-shadow 0px 0px 3px rgba(0, 0, 0, .45)
	position fixed
	padding 0 0 .6em 0
	text-align center
	width 300px
	z-index 10000
	& figure
		display block
		padding .5em 0
		width 100%
		& img
			width 30px
	& p
		color #202020
		padding .4em 0
		margin-top .4em
		font-weight bold

.edit_msj
	border 1px solid #21af7d
	figure
		background #49B591
.delete_msj
	border 1px solid #a11c1c
	figure
		background #c33232
.complete_msj
	border 1px solid #21af7d
	figure
		background #49B591
.alert_msj
	border 1px solid #d5d02f
	figure
		background #ddca00


.hide
	display none

#menu-home
	background morado
	overflow hidden
	padding .4em 0
	width 100%
	& img
		margin 0 3em
		float left
	& ul
		margin 0 2em
		padding 0
		float left
		li
			display inline-block





#body-admin
	background #E6E6E6
	font-family Roboto

#box-login
	font-family Roboto
	padding 1em
	background white
	border-radius .3em
	position absolute
	left 40%
	top 40%
	width 300px
	& form
		text-align center
		& input[type="text"], input[type="password"]
			height 30px
			margin .8em auto
			padding 0 .4em
			width 90%
		& input[type="submit"]
			border none
			outline none
			color white
			background #515151
			border-bottom .2em solid #343434
			padding .4em .6em
			margin .6em 0

#cabezera
	background morado
	overflow hidden
	height 65px
	width 100%
	& #company
		float left
		padding .5em
		border-right 1px solid rgba(255,255,255,0.5)
		& a
			color white
			font-size 3em
			text-decoration none
	& #control-account
		float right
		& .admin
			float left
			cursor pointer
			border-right 1px solid rgba(255,255,255,0.5)
			border-left 1px solid rgba(255,255,255,0.5)
			height 65px
			padding .2em 1em 0em 1em
			& figure
				float left
				& img
					border-radius 50%
					border 2px solid white
					height 50px
					margin-top .2em
					width 50px
			& div
				float left
				margin-top .8em
				margin-left .5em
				& p
					color white
					font-size .8em
					margin .2em
			& span
				color white
				font-size 1.1em
				float left
				margin 1em 0 0 .8em

		& .close
			float left
			padding 1em .6em 0 1em
			& a
				text-decoration none
				& span
					color white
					font-size 2.5em

.show-content-user
	display none
	background white
	box-shadow 0 0px 5px rgba(0,0,0,.6)
	position absolute
	top 65px
	right 65px
	width 200px
	&:hover
		box-shadow 0 0px 13px rgba(0,0,0,.8)
	& ul
		margin 0
		& a
			text-decoration none
			& li
				padding 1em
				color verde_azulado
				transition all .7s ease
				&:hover
					background morado
					color white
				& input
					display block !important
					cursor pointer
					width 100% !important
					height 100% !important
					opacity 0 !important
					overflow hidden !important
					margin-top  -20px


#menu-administrator
    & .admin-m
		background white
		position fixed
		top 4em
		left .7em
        & li a
			color verde_azulado
			display block
			font-size .8em
			padding 1em
			text-align center
			text-decoration none
			list-style none
			& span
				font-size 3em
				color verde_azulado
				display block
				margin-bottom .3em

#home-admin-content
	margin-top 40px
	margin-left 140px
	max-width 1400px
	& h1
		color verde_azulado
	& .content-estatics-one
		border-collapse: separate;
		border-spacing: 0 .9em;
		width 100%
		& h1
			background morado
			padding 0
			margin 0
			width 100%
		& .title-cabeza
			background morado
			& td
				color #fff
				padding .3em
				font-size 1.5em
		& .titles-estatics-one
			background #fff
			& th
				color #1abc9c
				padding .7em
		& .colum-content-statics
			background #fff
			& td
				color verde_azulado
				padding .5em
				margin-top 2em
		& .paginator-statics
			background morado
			& td
				color #fff
				padding .7em

#container-data-post
	margin-top 40px
	margin-left 140px
	max-width 1400px
	& h1
		color verde_azulado
	& .table-content-post
		border-collapse: separate;
		border-spacing: 0 .5em;
		width 100%
		& .reference-table
			background morado
			& td
				color white
				font-size 1.5em
				padding .3em
		& .titles-content
			background #fff
			& th
				color #1abc9c
				padding .7em
		& .data-content
			box-shadow 0 2px 3px rgba(0,0,0,0.3)
			background #fff
			width 100%
			&:hover
				back
			& td
				color verde_azulado
				padding .7em
			& .actions-content
				text-align center
				& a
					color verde_azulado
					font-size 1.4em
					text-decoration none
					margin 0 .3em
					transition .4s ease
					&:hover
						color #1abc9c
	& .button-new-post
		background white
		border-radius 50%
		box-shadow 0px 0px 6px rgba(0,0,0,0.3)
		color morado
		cursor pointer
		text-align center
		padding .6em
		transition: .5s ease
		position fixed
		bottom 1em
		right 1em
		height 40px
		width 40px
		&:hover
			background #1abc9c
			color white
		& span
			font-size 1.4em
			line-height 40px

#container-data-category
	margin-top 40px
	margin-left 140px
	max-width 1400px
	& h1
		color verde_azulado
	& .table-content-category
		border-collapse: separate;
		border-spacing: 0 .5em;
		width 100%
		& .reference-table
			background morado
			& td
				color white
				font-size 1.5em
				padding .3em
		& .titles-content
			background #fff
			& th
				color #1abc9c
				padding .7em
		& .data-content
			box-shadow 0 2px 3px rgba(0,0,0,0.3)
			background #fff
			& td
				color verde_azulado
				padding .7em
			& .actions-content
				text-align center
				& a
					color verde_azulado
					font-size 1.4em
					text-decoration none
					margin 0 .3em
					transition .4s ease
					&:hover
						color #1abc9c
	& .button-new-category
		background white
		border-radius 50%
		box-shadow 0px 0px 6px rgba(0,0,0,0.3)
		color morado
		cursor pointer
		text-align center
		padding .6em
		transition: .5s ease
		position fixed
		bottom 1em
		right 1em
		height 40px
		width 40px
		&:hover
			background #1abc9c
			color white
		& span
			font-size 1.4em
			line-height 40px


.form-add-post, .form-add-category
	display none
	box-shadow 0px 0px 9px rgba(0,0,0,.3)
	bottom 0
	background white
	max-height 500px
	bottom 5em
	position fixed
	right 2em
	overflow auto
	text-align center
	padding-bottom 3em
	max-width 400px
	& h1
		font-size 1.4em
	& .cerrar
		position absolute
		top .3em
		right .4em
		color morado
		cursor pointer
		font-size 1.7em
		transition: .5s ease
	& .enviar-form
		position absolute
		top .9em
		right 2.7em
		color morado
		cursor pointer
		transition: .5s ease
		text-decoration none
	& .cont
		margin 0 auto
		width 400px
		position relative
		& form
			& input[type="text"]
				color morado
				display block
				font-size 1em
				height 30px
				margin .56em auto
				padding 0 1em
				width 80%
				&:focus
					border none
					outline none
					border 3px solid morado
			& .label1
				box-shadow 0 2px 6px rgba(0,0,0,.7)
				background morado
				display block
				color white
				font-size 1.2em
				font-weight normal
				text-align left
				margin .6em 0
				padding .5em 1em
			& .radios
				text-align center
				& .label2
					color whitesmoke
					padding 0 1em
					font-size 1.4em
			& select
				color morado
				border morado 2px solid
				display block
				font-size 1.1em
				margin 2em auto
				height 40px
				text-align center
				outline none
				width 300px
			& .enviar-form-int
				display inline-block
				background white
				border-radius 50%
				box-shadow 0px 0px 6px rgba(0,0,0,0.7)
				color morado
				cursor pointer
				text-align center
				font-size 1.4em
				padding .6em
				transition .5s ease
				margin 0 auto
				text-decoration none
				&:hover
					background #1abc9c
					color white
				$ span
					display block

.form-edit-post
	text-align center
	& .cont
		margin 0 auto
		padding 3em 0
		width 900px
		& h1
			color morado
			font-size 2.3em
			text-align center
		& form
			& input[type="text"]
				color morado
				display block
				font-size 1.2em
				height 40px
				margin 2em 0
				padding 0 1em
				width 95%
				&:focus
					border none
					outline none
					border 3px solid morado
			& .label1
				color morado
				display block
				text-align center
				padding 1em 0
				font-size 1.4em
			& .radios
				text-align center
				& .label2
					color morado
					padding 0 1em
					font-size 1.4em
			& select
				color morado
				border 1px solid morado
				display block
				font-size 1.1em
				margin 2em auto
				height 40px
				text-align center
				outline none
				width 300px
			& input[type="submit"]
				border morado 3px solid
				border-radius .4em
				background none
				color morado
				cursor pointer
				margin 2em auto
				padding .6em
				width 180px
				transition: .5s ease
				&:hover
					border #1abc9c 3px solid
					background #1abc9c
					color white


.form-edit-category
	text-align center
	& .cont
		margin 0 auto
		padding 3em 0
		width 900px
		& h1
			color morado
			font-size 2.3em
			text-align center
		& form
			& input[type="text"]
				color morado
				display block
				font-size 1.2em
				height 40px
				margin 2em 0
				padding 0 1em
				width 95%
				&:focus
					border none
					outline none
					border 3px solid morado
			& input[type="submit"]
				border morado 3px solid
				border-radius .4em
				background none
				color morado
				cursor pointer
				margin 2em auto
				padding .6em
				width 180px
				transition: .5s ease
				&:hover
					border #1abc9c 3px solid
					background #1abc9c
					color white

.dialog
	border 5px solid #666
	padding 10px
	background #3A3A3A
	position float
	display none


@import "responsive.styl"
